<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robin.testdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".flexlayout.FlexLayoutActivity"></activity>
        <activity
            android:name=".fragmentlazyload.addshow.FragmentAddLazyLoadActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".fragmentlazyload.viewpager.FragmentLazyLoadActivity"
            android:theme="@style/AppTheme"></activity>

        <service
            android:name=".aidl.AddService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".contentprovider.MyContentProvider"
            android:authorities="com.robin.androidtest"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ContentActivity" />
        <activity android:name=".datasave.DateSaveActivity" />
        <activity android:name=".activityjump.VaActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".activityjump.ActivityB"
            android:taskAffinity="com.robin.test">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="robin"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".activityjump.ActivityA"
            android:launchMode="singleTask"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <service android:name=".MySerivce"
            />
    </application>

</manifest>